body{
    background-color: #b1fa43;
}
span{
    font-size: large;
    margin-left: 550px;
    color: purple;                                                                                                            
}
p{
    color: rgb(222, 5, 92);
    font-size: medium;
}
h1{
    background-color: cornsilk;
    color: royalblue;
}